<div class="destinationWrp">
 
    <div class="p-grid p-flex-column">
        <div class="p-col">
            
            <div class="box padBox">
                <div class="cardheader">
                    <mat-card-title>
                        <h3>Instrument Destination</h3>
                    </mat-card-title>
                    </div>

                    <div class="Expandablepanels">
                            <app-instruments-expandable-panel></app-instruments-expandable-panel>
                    
                    </div>
            </div>
        </div>
      
    </div>
</div>
