<p-dialog [(visible)]="forgetPasswordDialog" [style]="{width: '650px'}" [modal]="true" styleClass="p-fluid">
    <div fxLayout fxLayoutAlign="center">
        <form class="example-form" [formGroup]="forgetPassword">
            <h2><strong>Forget Password</strong></h2>
            <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input id="emailID" 
                [class.is-invalid]="forgetPassword.controls.emailID.invalid && forgetPassword.controls.emailID.touched" 
                matInput placeholder="Email Address" formControlName="emailID" required>
              </mat-form-field>
              <!-- <small 
              class="d-none"
               [class.dinone]="forgetPassword.controls.emailID.valid || forgetPassword.controls.emailID.untouched">
             <br>Please enter Email Address
              </small> -->
       
              <mat-form-field class="example-full-width">
                <input id="password" 
                [class.is-invalid]="forgetPassword.controls.password.invalid && forgetPassword.controls.password.touched" 
                matInput placeholder="Password" formControlName="password" required>
              </mat-form-field>
              <!-- <small class="d-none"
              [class.dinone]="forgetPassword.controls.password.valid || forgetPassword.controls.password.untouched">
              <br> Please enter Password
              </small> -->
    
              <mat-form-field class="example-full-width">
                <input 
                id="confirmPassword" 
                [class.is-invalid]="forgetPassword.controls.confirmPassword.invalid && forgetPassword.controls.confirmPassword.touched"
                matInput placeholder="Confirm Password" formControlName="confirmPassword" required>
              </mat-form-field>
              <!-- <small class="d-none"
              [class.dinone]="forgetPassword.controls.confirmPassword.valid || forgetPassword.controls.confirmPassword.untouched">
               <br> Please enter Password
              </small> -->
    
            </mat-card-content>
        
            <div class="form-group">
              <!-- <button [disabled]="!forgetPassword.valid" type="submit" class="btn btn-primary btn-block signin-btn" (click)="onSubmit()"> Update Password</button> -->
              <button  [disabled]="!forgetPassword.valid" (click)="updatePassword()" pButton pRipple type="button" label="Update Password" class="p-button-rounded"></button>
            </div>
          </form>
    </div>
</p-dialog>