    <!-- <div class="container component_title cmClass">
        <h3>Edit User's Password</h3>
        <hr>
    </div>
        <mat-card class="cardwidth" style="top: 25px;
        width: 96%;">
            <div class="cardCont">
                    <div class="p-col">
                        <div class="box padBox1">
                            <div class="cardheader">
                                <mat-card-title>
                                    <h3>Reset Password</h3>
                                </mat-card-title>
                            </div>
                            <form class="confirmPasswordForm" [formGroup]="confirmPassword">
                                <div class="p-grid">
                                    <div class="p-col">
                                        <div class="box padBox">
                                            <strong><mat-label class="flable">Email<span>*</span></mat-label> </strong>
                                            <mat-form-field class="example-full-width mat-form-field-fullwidth">
                                                <mat-label>Email</mat-label>
                                                <input 
                                                id="email"
                                                [(ngModel)]="email"
                                                [class.is-invalid]="confirmPassword.controls.email.invalid && confirmPassword.controls.email.touched" 
                                                matInput 
                                                formControlName="email"  [ngClass]="{'error': confirmPassword.errors}"
                                                >
                                            </mat-form-field>
                                            <small 
                                           class="d-none"
                                            [class.dinone]="confirmPassword.controls.email.valid || confirmPassword.controls.email.untouched">Please enter Email Id
                                          </small>
                                          <small 
                                          class="d-None" 
                                          *ngIf="confirmPassword.errors?.pattern">Please enter valid Email Id
                                         </small>
                                        </div>
                                    </div>
                    
                                    <div class="p-col" *ngIf="isShown">
                                        <div class="box padBox">
                                            <strong><mat-label class="flable">Password Token<span>*</span></mat-label> </strong>
                                            <mat-form-field class="example-full-width mat-form-field-fullwidth">
                                                <mat-label>Password Token</mat-label>
                                                <input 
                                                id="passwordToken" 
                                                [(ngModel)]="passwordToken" 
                                                [class.is-invalid]="confirmPassword.controls.passwordToken.invalid && confirmPassword.controls.passwordToken.touched" 
                                                matInput 
                                                formControlName="passwordToken" 
                                                placeholder="Enter Password Token">
                                            </mat-form-field>
                                            <small 
                                           class="d-none"
                                            [class.dinone]="confirmPassword.controls.passwordToken.valid || confirmPassword.controls.passwordToken.untouched">Please enter Password Token</small>
                                        </div>
                                    </div>
                                    
                                    <div class="p-col">
                                      <div class="box padBox">
                                          <strong><mat-label class="flable">Password<span>*</span></mat-label> </strong>
                                          <mat-form-field class="example-full-width mat-form-field-fullwidth">
                                              <mat-label>Password</mat-label>
                                              <input 
                                              id="password" type="password"
                                              [class.is-invalid]="confirmPassword.controls.password.invalid && confirmPassword.controls.password.touched" 
                                              matInput 
                                              formControlName="password" 
                                              placeholder="Enter Password">
                                          </mat-form-field>
                                          <small 
                                         class="d-none"
                                          [class.dinone]="confirmPassword.controls.password.valid || confirmPassword.controls.password.untouched">Please enter Password</small>
                                      </div>
                                  </div>
                      
                                  <div class="p-col">
                                    <div class="box padBox">
                                        <strong><mat-label class="flable"> Confirm Password<span>*</span></mat-label> </strong>
                                        <mat-form-field class="example-full-width mat-form-field-fullwidth">
                                            <mat-label>Confirm Password</mat-label>
                                            <input 
                                            id="password_confirmation" type="password"
                                            [class.is-invalid]="confirmPassword.controls.password_confirmation.invalid && confirmPassword.controls.password_confirmation.touched" 
                                            matInput 
                                            formControlName="password_confirmation" 
                                            placeholder="Enter Confirm Password">
                                        </mat-form-field>
                                        <small 
                                       class="d-none"
                                        [class.dinone]="confirmPassword.controls.password_confirmation.valid || confirmPassword.controls.password_confirmation.untouched">Please enter confirm Password
                                      </small>
                                      <small 
                                      class="d-None"
                                      *ngIf="confirmPassword.errors?.notMatch"
                                      >
                                     <br> Password is not equal to Confirm Password
                                      </small> 
                                    </div>
                                </div>
                              </div>
                            </form>
                            <div style="width:100%;display: flex; align-items: center; justify-content: center;" class="button">
                                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-rounded p-button-info cm_button" (click)="hideDilog()"></button>
                                <button [disabled]="!confirmPassword.valid" pButton pRipple label="Update" icon="pi pi-check" class="p-button-rounded p-button-success cm_button" (click)="confirmUserPassword()" ></button>
                            </div> 
                            
                        </div>
                    </div>
                </div>
            </mat-card>
       
   
    
   -->
