.padBox {
    padding: 0px !important;
    max-width: 850px;
    margin-bottom: 6px;
    margin-left: 50px;
    
  }
  .confirmPasswordForm {
    position: relative;
    top: 30px;
  }
  .flable {
    color: #343434;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .flable span {
    color: #ff5050;
  }
  .d-none {
    color: #ff5050;
    margin-top: -16px;
    display: block;
    position: relative;
  }
 .dinone {
    display: none;
  }
  .d-None {
    color: #ff5050;
    margin-top: -11px;
    display: block;
    position: relative;
  }


  :host ::ng-deep .p-dialog-header {
    height: 57px;
    padding: 30px 25px;
    border-radius: 20px 20px 0px 0px;
    background: #fbfbfb 0% 0% no-repeat padding-box;
    position: relative;
    top: 0px;
    border-bottom: 1px solid #d5d5d5;
    
  }
  
  :host ::ng-deep .p-dialog-header h3 {
    margin: 0 0 -6px;
  }
 .mainDiv{
    height: 57px;
    padding: 30px 25px;
    border-radius: 20px 20px 0px 0px;
    background: #fbfbfb 0% 0% no-repeat padding-box;
    position: relative;
    top: 0px;
    border-bottom: 1px solid #d5d5d5;
 }
 .mainDiv h3{
  margin: 0 0 -6px;
 }
 .button{
  min-height: 100px;
 }
 /* .button2{
  margin-top: 4%;
  margin-bottom: 10px;
  margin-left: 45%;
  margin-right: 35%;
 
} */
 .component_title {
  padding: 0px 40px 0px 15px;
}
.cmClass h3 {
  font-weight: bold;
  color: #343434;
  margin-bottom: 6px;
}
.cmClass p {
  font-size: 13px;
  color: #343434;
}
.cm_header {
  width: 100%;
  height: 50px;
}

.cm_header .p_grid {
  float: right;
  padding-right: 40px;
}
.cm_header .p_grid .cm_button {
  background: #1f73ae;
  border: none;
}
.cardheader {
  height: 57px;
  padding: 15px 25px;
  border-radius: 20px 20px 0px 0px;
  background: #fbfbfb 0% 0% no-repeat padding-box;
  position: relative;
  top: -16px;
  border-bottom: 1px solid #d5d5d5;
}
.cardwidth {
  width: 95%;
  position: relative;
  top: 10px;
  border-radius: 20px;
  padding: 0 !important;
  margin-right: 5px;
}

.padBox1 {
  padding: 0px !important;
  max-width: 100%;
  margin-bottom: 6px;
  border-radius: 20px;
}
.box::before {
  background: none !important;
}