<div class="projectHeader">
    <app-project-header></app-project-header>
</div>
<mat-card class="cardwidth_second mat-card-pad">
    <div class="contentWrp">
 
        <div class="destination_wrp"><app-destination-panel></app-destination-panel></div>
        <div class="mappingPanel"><app-mapping-panel></app-mapping-panel></div>
        <div class="sourceLegacy_wrp"><app-source-legacy-panel></app-source-legacy-panel></div>
    
       
    </div>

    <div class="resultWrp" style="min-height: 380px;">
       
         
        <app-result></app-result>
   
    </div> 
</mat-card>


