.uidSpecification{
    font-size: 12px;
    color: #0a4c95; 
    float: right;
}
.conCatsub{
    width: 100%;
     display: flex; 
     flex-direction: column;
}
.filterMappingSelected{
    width: 100%;
    height: 100%;
    border: 1px dashed #ddd;
    border-radius: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.selectInstTypeBtn{
    margin-top: 10px!important;
    background-color: #689f38 !important;
    color: #ffffff !important;
  }

.mat-standard-chip.mat-chip-with-trailing-icon {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 8px;
    padding-left: 12px;
}

.mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
}

.mat-chip {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.mat-chip {
    font-size: 14px;
    font-weight: 500;
}

.mat-chip.mat-standard-chip {
    background-color: #e0e0e0;
    color: rgba(0,0,0,.87);
    margin-right: 3px;
}

.chipsConcat {
    text-align: center !important;
    padding-top: 3px  !important;
}